<footer class="footer">
    <div class="footer-container container">
      <div class="footer-left-side">
        <h2 class="footer-title">Мы на связи</h2>
        <div class="footer-address">
            <strong class="footer-subtitle">Адрес</strong>
            <address>
                <svg class="header__contacts-icon" width="28" height="28">
                    <use href="./img/icons.svg#clock-footer"></use>
                </svg>
                <a class="footer-contacts-link footer-address link" href="https://goo.gl/maps/kj35jBKf2ffBkgqM9" target="_blank" rel="noreferrer noopener">Several st. 24a/243</a>
            </address>

        </div>
        <div class="footer-contacts">
            <strong class="footer-subtitle">Клиентськая поддержка:</strong>
            <address class="footer-contacts-wrap">
                <svg class="header__contacts-icon" width="28" height="28">
                    <use href="./img/icons.svg#phone-footer"></use>
                </svg>
                <a class="footer-contacts-phone" href="tel:+905488394815">+905488394815</a>
            </address>
            <address>
                <svg class="header__contacts-icon" width="28" height="28">
                    <use href="./img/icons.svg#email-footer"></use>
                </svg>
                <a class="footer-contacts-email" href="mailto:info@andmax-investments.com">info@andmax-investments.com</a>
            </address>

          </div>
      </div>
      <div class="footer-right-side">
        <img src="../img/footer.jpg" alt="Map">
      </div>
      <hr class="footer-line"> 
      <div class="footer-privacy-policy flex --just-space">
        <p>©Andmax Investments 2023. All right reserved.</p><a href="#">Privacy Policy</a>
      </div>
    </div>
</footer>