<header class="header">
    <div class="container header-container flex --just-space">
        <nav class="header__navigation flex">
            <a class="header__logo" href="./index.html">
                <img src="./img/logo.svg" alt="Logo">
            </a>
            <ul class="header__menu flex">
                <li class="header__menu-item"><a class="header__menu-item-link active" href="#">Кипр</a></li>
                <li class="header__menu-item"><a class="header__menu-item-link" href="#">Комплексы</a></li>
                <li class="header__menu-item"><a class="header__menu-item-link" href="#">Апартаменты</a></li>
                <li class="header__menu-item"><a class="header__menu-item-link" href="#">Инвесторам</a></li>
                <li class="header__menu-item"><a class="header__menu-item-link" href="#">О нас</a></li>
                <li class="header__menu-item"><a class="header__menu-item-link" href="#">Контакты</a></li>
                <li class="header__menu-item nav-item dropdown">
                    <a class="header__menu-item-link nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Меню
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Кипр</a></li>
                      <li><a class="dropdown-item" href="#">Комплексы</a></li>
                      <li><a class="dropdown-item" href="#">Апартаменты</a></li>
                      <li><a class="dropdown-item" href="#">Инвесторам</a></li>
                      <li><a class="dropdown-item" href="#">О нас</a></li>
                      <li class="header__menu-item"><a class="dropdown-item header__menu-item-link" href="#">Контакты</a></li>
                    </ul>
                  </li>
            </ul>
        </nav>
        <div class="header__right-block flex --align-center">
            <address class="header__contacts">
                <svg class="header__contacts-icon" width="24" height="24">
                    <use href="./img/icons.svg#phone"></use>
                </svg>
                <a href="tel:+905488394815">+905488394815</a>
            </address>
            <div class="header__lang">
                <select class="header__lang-wrapper">
                    <option value="ru">RU</option>
                    <option value="en">EN</option>
                </select>
            </div>
            <button class="header__button" type="button">Получить предложения</button>
        </div>
    </div>
</header>