.about-us__section {
    background-image: url(../img/about-us-section-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 135px 0 123px 0;
    color: var(--white);
    font-size: 18px;
    text-align: center;
}

.about-us__section-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 112.3%;
    text-transform: uppercase;
    margin-bottom: 62px;
}

.about-us__section-desc {
    line-height: 152.8%;
    max-width: 696px;
    margin: auto;
}

.about-us__section-desc + p {
    margin-top: 28px;
}

.about-us__section-wrapper {
    gap: 41px 29px;
    flex-wrap: wrap;
    max-width: 960px;
    margin: 94px auto 0 auto;
}

.about-us__section-card {
    flex-basis: calc((100% - 29px) / 2);
    background: var(--white);
    padding: 28px 33px;
    color: var(--black);
    border-radius: 10px;
}

.about-us__section-card-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 138.3%; 
    margin-bottom: 12px;
}

.about-us__section-card-desc {
    line-height: 138.3%;
}

.about-us__section swiper-container {
    display: none;
}

@media screen and (max-width: 920px) {
    .about-us__section {
        padding: 64px 0;
    }

    .about-us__section swiper-container {
        display: block;
    }

    .container.about-us__section-container {
        padding: 0;
    }

    .about-us__section-wrapper.flex {
        display: none;
    }

    .about-us__section-title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 24px;
    }

    .about-us__section-desc {
        padding: 0 32px;
        font-size: 16px;
        font-weight: 400;
    }

    .about-us__section-card {
        flex-basis: unset;
        padding: 15px 20px;
        text-align: center;
    }
    
    .about-us__section-card-title {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .about-us__section-card-desc {
        font-size: 14px;
    }

    .about-us__section swiper-slide {
        text-align: left;
        background: transparent;
        border-radius: 10px;
    }

    .about-us__section .swiper-slide-active {
        transform: scale(1.3);
        z-index: 111;
    }

    .about-us__section-desc + p {
        margin-top: 16px;
    }
}