.advantages__section {
    padding: 159px 0 188px 0;
    background: var(--light-background);
}

.advantages__section-container {
    gap: 128px;
}

.advantages__section-img {
    border-radius: 10px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 547px;
}

.advantages__section-cards  {
    gap: 16px;
    margin-bottom: 49px;
}

.advantages__section-card  {
    border-radius: 10px;
    background: var(--white); 
    padding: 24px 27px;
    gap: 31px;
}

.advantages__section-card-ellipce {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: var(--black);
    flex-shrink: 0;
}

.advantages__section-card-text {
    font-size: 20px;
    line-height: 138.3%; 
    color: var(--black);
}

.advantages__section-wrap {
    gap: 29px;
    margin-top: 60px;
}

.advantages__section-wrapper .carousel-buttons {
    margin: 0;
}

.advantages__section .carousel-control-next {
    background: var(--black);
    border-color: var(--white);
}

.advantages__section .carousel-control-prev {
    background: transparent;
    border-color: black;
}

.advantages__section-img.mobile {
    display: none;
}

@media screen and (min-width: 920px) and (max-width: 1200px) {
    .advantages__section-container {
        gap: 32px;
    }

    .advantages__section-img {
        width: 50%;
        min-width: unset;
    }

    .advantages__section-wrapper {
        width: 50%;
    }

    .advantages__section-cards {
        margin-bottom: 16px;
    }

    .advantages__section-wrap {
        margin-top: 24px;
    }
}

@media screen and (max-width: 920px) {
    .advantages__section {
        padding: 64px 0 83px 0;
    }

    .advantages__section-container {
        flex-direction: column;
        gap: 37px;
    }

    .advantages__section-wrapper {
        max-width: 100%;
    }

    .advantages__section-cards {
        gap: 9px;
        margin-bottom: 24px;
    }

    .advantages__section-card {
        position: relative;
        padding: 19px 13px 19px 67px;
        min-height: 75px;
    }

    .advantages__section-card-ellipce {
        position: absolute;
        top: 15px;
        left: 12px;
        width: 38px;
        height: 38px; 
    }

    .advantages__section-card-icon {
        width: 18px;
        height: 18px; 
    }

    .advantages__section-card-text {
        font-size: 14px;
        line-height: 138.3%;
    }

    .advantages__section-img {
        display: none;
        min-width: unset;
    }

    .advantages__section-img.mobile {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 316px;
        max-height: 345px;
        object-fit: cover;
        border-radius: 10px;
        margin: auto;
    }

    .advantages__section-wrapper .carousel-buttons.--just-end {
        justify-content: space-between;
        flex-direction: row;
    }

    .advantages__section-wrap {
        gap: 13px;
        margin-top: 54px;
        flex-direction: column;
    }
}