
.img-carousel {
    position: absolute;
    right: 0;
    padding-left: 50px;
    width: 50%;
}

.carousel-item-img {
    border-radius: 10px;
}

.carousel-buttons {
    display: flex;
    margin-left: 27px;
    gap: 13px;
}

.carousel-control-next, .carousel-control-prev {
    position: static;
    width: 45px;
    height: 45px; 
    border-radius: 50%;
    opacity: 1;
}

.carousel-control-next {
    background: var(--white);
    color: var(--black);
}

.carousel-control-prev {
    background: var(--black);
    border: 1px solid var(--white);
    color: var(--white);
}

/* Swiper */

/* .swiper-slide img {
	width: 100%;
	height: 400px;
	
}
.swiper-slide {
	transition: all 0.5s ease;
	padding: 80px 0;
}
.swiper-slide-active {
	transform: scale(1.4);
} */

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: flex;
justify-content: center;
align-items: center;
padding: 60px 0;
}

swiper-slide img {
display: block;
width: auto;
height: 100%;
}

.mySwiper.img-swiper {
    max-width: 50%;
    right: 0;
    max-height: 502px;
    margin: 0;
}

.mySwiper.img-swiper swiper-slide {
    background: transparent;
    border-radius: 10px;
    max-width: 361px;
    padding: 80px 0;
}

.mySwiper.img-swiper .swiper-slide-active {
    transform: scale(1.3);
    z-index: 111;
}

.mySwiper.img-swiper .swiper-slide-prev{
    /* visibility: hidden; */
}

.mySwiper.img-swiper .carousel-item-img {
    transform: translateX(40px);
}