.why-сyprus__section {
    background: var(--black);
    padding: 100px 0 68px 0;
    color: var(--white);
    position: relative;
}

.why-сyprus__section-wrapper {
    max-width: 487px;
}

.why-сyprus__section-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 112.3%; 
    margin-top: 75px;
    max-width: 460px;
}

.why-сyprus__section-subtitle {
    font-size: 24px;
    font-weight: 300;
    line-height: 121.3%;
    margin-top: 26px;
}

.why-сyprus__section-card {
    margin-top: 82px;
    border-radius: 10px;
    background: var(--white); 
    padding: 25px 50px 26px 81px;
    position: relative;
}

.why-сyprus__section-card-ellipce {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: var(--black);
}

.why-сyprus__section-card-desc {
    font-size: 18px;
    font-weight: 300;
    line-height: 138.3%; 
    color: var(--black);
}

.why-сyprus__section .carousel-buttons {
    margin-bottom: 97px;
}

/* .container--wrap {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 12px;
    position: relative;
} */

@media screen and (min-width: 920px) and (max-width: 1200px) {
    .swiper--why-сyprus {
        max-width: 100%;
        margin: 0;
    }

    .swiper--why-сyprus .swiper-slide {
        padding: 0;
    }

    .why-сyprus__section-wrapper {
        max-width: 40%;
    }

    .why-сyprus__section-title {
        margin-top: 0;
    }

    .why-сyprus__section .carousel-buttons {
        margin-bottom: 5%;
    }
}

@media screen and (max-width: 920px) {
    .why-сyprus__section {
        padding: 64px 0;
    }

    .container.why-сyprus__section-container {
        flex-direction: column;
        padding: 0;
    }
    .why-сyprus__section-wrapper {
        max-width: 100%;
        padding: 0 32px;
    }
    .why-сyprus__section-title {
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        line-height: 112.3%; 
        margin: 0 auto;
        max-width: 100%;
    }
    .why-сyprus__section-subtitle {
        text-align: center;
        font-size: 16px;
        line-height: 121.3%;
        margin-top: 24px;
    }

    .why-сyprus__section-card {
        margin-top: 58px;
        padding: 15px 26px 16px 62px;
        position: relative;
        margin-bottom: 37px;
    }

    .why-сyprus__section-card-ellipce {
        top: 15px;
        left: 12px;
        width: 39px;
        height: 39px; 
    }

    .why-сyprus__section-card-icon {
        width: 22px;
        height: 22px; 
    }

    .why-сyprus__section-card-desc {
        font-size: 14px;
        line-height: 138.3%;
    }

    .why-сyprus__section .carousel-buttons.--just-end {
        justify-content: space-between;
        flex-direction: row-reverse;
        order: 3;
        margin-left: 0;
    }

    .why-сyprus__section .carousel-buttons {
        padding: 0 32px;
        margin-bottom: 0;
    }
}