.investment__section {
    background: var(--light-background);
    padding: 109px 0 153px 0;
}

.investment__section-container {
    gap: 105px;
}

.investment__section-wrapper:first-child {
    max-width: 553px;
}

.investment__section-title {
    margin-bottom: 43px;
    font-size: 36px;
    font-weight: 500;
    line-height: 112.3%; 
}

.investment__section-card-text {
    font-size: 18px;
    line-height: 152.8%;
}

.investment__section-card-text + p {
    margin-top: 28px;
}

.investment__section-bottom-wrap {
    margin-top: 50px;
}

.investment__section .carousel-buttons {
    margin-left: 32px;
}

.investment__section-text {
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0px 0px 54px 0px rgba(66, 74, 83, 0.07);
    font-size: 16px;
    padding: 17px 22px;
    line-height: 138.3%; 
}

.investment__section-wrap {
    margin-top: 42px;
    gap: 26px;
}

@media screen and (min-width: 920px) and (max-width: 1200px) {
    .investment__section-container {
        gap: 32px;
    }

    .investment__section-wrapper {
        max-width: calc((100% - 32px) / 2);
    }

    .investment__section-title {
        margin-bottom: 24px;
    }

    .investment__section-card-text + p {
        margin-top: 0;
    }

    .investment__section-bottom-wrap {
        margin-top: 32px;
    }
}