.island__section {
    padding: 0 0 247px 0;
    background: var(--light-background);
}

.island__section-wrapper {
    max-width: 501px;
}

.island__section-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 112.3%;
    margin-top: 45px;
    max-width: 441px;
}

.island__section-desc {
    margin-top: 45px;
    color: rgba(0, 0, 0, 0.72);
    font-size: 20px;
    font-weight: 400;
    line-height: 130.3%;
}

.island__section-form {
    margin-top: 57px;
    max-width: 353px;
}

.island__section-input {
    border-radius: 10px;
    border: 1px solid var(--gray-border);
    background-color: transparent;
    padding: 14px 17px;
    font-size: 16px;
    font-weight: 300;
    line-height: 112.3%;
    color: var(--white);
    width: 100%;
}

.island__section-input + input {
    margin-top: 13px;
}

.form__section-input::placeholder {
    font-size: 16px;
    font-weight: 300;
    line-height: 112.3%;
    color: var(--white);
}

@media screen and (min-width: 920px) and (max-width: 1200px) {
    .island__section-wrapper {
        max-width: 50%;
    }

    .island__section-desc {
        margin-top: 24px;
    }

    .island__section-title {
        margin-top: 0;
    }
    
    /* .island__section-form {
        margin-top: 24px;
    } */
}