.locations__section {
    background-color: var(--light-background);
    padding: 142px 0 65px 0;
}

.locations__section-title {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    line-height: 112.3%;
    max-width: 652px;
    margin: 0 auto 78px auto;
}

.locations__section-cards {
    gap: 28px;
}

.locations__section-card {
    flex-basis: calc((100% - 3 * 28px) / 4);
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0px 0px 54px 0px rgba(66, 74, 83, 0.07);
    padding: 25px 30px;
}

.locations__section-card-ellipce {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: var(--gray-background);
}

.locations__section-card-title {
    margin-top: 21px;
    max-width: 185px;
    font-family: 'ABeeZee', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 148.3%;
}

.locations__section-card-desc {
    margin-top: 13px;
    color: var(--gray-font);
    font-size: 16px;
    line-height: 137.3%; 
}

.locations__section swiper-container {
    display: none;
}

@media screen and (max-width: 920px) {
    .locations__section {
        padding: 83px 0 83px 0;
    }

    .container.locations__section-container {
        padding: 0;
    }

    .locations__section-cards.flex {
        display: none;
    }

    .locations__section-card {
        flex-basis: unset;
        padding: 15px 20px;
    }

    .locations__section-card-ellipce {
        width: 41px;
        height: 41px; 
    }

    .locations__section-card-icon {
        width: 22px;
        height: 22px; 
    }
    
    .locations__section-card-title {
        margin-top: 24px;
        font-size: 16px;
        max-width: unset;
    }
    
    .locations__section-card-desc {
        margin-top: 13px;
        font-size: 14px;
    }

    .locations__section swiper-container {
        display: block;
    }

    .locations__section swiper-slide {
        text-align: left;
        background: transparent;
        border-radius: 10px;
    }

    .locations__section .swiper-slide-active {
        transform: scale(1.3);
        z-index: 111;
    }

    .locations__section-title {
        font-size: 24px;
        max-width: 100%;
        margin: 0 auto 54px auto;
    }
}