.our-team__section {
    background: var(--black);
    padding: 0 0 85px 0;
    color: var(--white);
    text-align: center;
}

.our-team__section-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 112.3%;
    margin-bottom: 72px;
}

.our-team__section-cards {
    gap: 29px;
}

.our-team__section-card {
    flex-basis: calc((100% - 58px) / 3);
}

.our-team__section-card-img {
    border-radius: 10px;
    width: 100%;
}

.our-team__section-card-name {
    margin-top: 38px;
    color: var(--light-gray-font);
    font-size: 24px;
    line-height: 112.3%; 
}

.our-team__section-card-position {
    margin-top: 7px;
    font-size: 32px;
    font-weight: 500;
    line-height: 112.3%; 
}