.spa-salon__section {
    padding: 136px 0 131px 0;
    background: var(--light-background);
    color: var(--black);
}

.spa-salon__section-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 112.3%; 
    margin: 0 auto;
    text-align: center;
}

.spa-salon__section-desc {
    font-size: 18px;
    line-height: 156.8%;
    text-align: center;
    margin: 37px auto 102px auto;
    max-width: 593px;
}

.spa-salon__section-cards {
    gap: 32px;
    max-width: 437px;
}

.spa-salon__section-card {
    border-radius: 10px;
    background: var(--white); 
    padding: 26px 19px 28px 81px;
    position: relative;
}

.spa-salon__section-card:nth-child(1) {
    width: 586px;
}

.spa-salon__section-card-ellipce {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background: var(--light-gray-background);
}

.spa-salon__section-card-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 121.3%;
    margin-bottom: 14px;
}

.spa-salon__section-card-desc {
    font-size: 18px;
    line-height: 138.3%; 
}

.spa-salon__section .carousel-buttons {
    margin-left: 93px;
}

@media screen and (min-width: 920px) and (max-width: 1200px) {
    .spa-salon__section-cards {
        max-width: 45%;
        gap: 19px;
    }

    .spa-salon__section .carousel-buttons {
        margin-left: 27px;
    }

    .spa-salon__section-card:nth-child(1) {
        width: auto;
    }
}